<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ad_post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ad_post.description %>
</p>

<p>
  <b>Price:</b>
  <%= @ad_post.price %>
</p>


<%= link_to 'Edit', edit_ad_post_path(@ad_post) %> |
<%= link_to 'Back', ad_posts_path %>
